# Node
/node_modules/
npm-debug.log
yarn-error.log

# Android
/android/app/build/
/android/build/
/android/.gradle/
/android/gradle/
/android/app/src/main/assets/index.android.bundle
/android/app/src/main/res/drawable-*
/android/app/src/main/res/raw/

# IDE files
.idea/
.vscode/
*.iml

# Metro bundler
.metro-cache/

# Others
*.lock
